html {
  user-select: none;
}

canvas {
  display: block;
  vertical-align: bottom;
  border: none;
  animation-name: appear;
  animation-duration: 1.4s;
  animation-fill-mode: forwards;
}

#particles-js {
  border: none;
  z-index: -1;
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: #080a17;
  background-image: url("");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
}

body {
  margin: 0;
  padding: 0;
  height: 100vh;
  overflow: hidden;
}

iframe {
  border: none;
  width: 100%;
  height: 100%;
}

.box {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  padding: 10px;
  color: transparent;
  text-align: center;
}

.horizontal {
  text-align: center;
}

.sans-serif {
  font-family: sans-serif;
  color: #ffffff;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000,
    1px 1px 0 #000;
}

.project {
  padding: 6px 6px 6px 6px;
  line-height: 20px;
  border-radius: 10px;
  display: inline-block;
  text-decoration: none;
  background-color: #141728;
  cursor: pointer;
  height: 300px;
  width: 300px;
  font-family: sans-serif;
  text-align: center;
  transition: transform 0.3s;
}

.project.clicked {
  animation: clickAnim 200ms ease-in-out;
}

.project:hover {
  filter: brightness(150%);
}

.project * {
  display: block;
  color: #ffffff;
  margin: auto;
}

.contact a {
  color: #ffffff;
  padding: 6px 6px 6px 6px;
  line-height: 5px;
  border-radius: 10px;
  display: inline-block;
  text-decoration: none;
  background-color: #141728;
  cursor: pointer;
  width: 80px;
  transition: transform 0.3s;
}

.contact a.clicked {
  animation: clickAnim 200ms ease-in-out;
}

.contact a:hover {
  filter: brightness(150%);
}

.contact a * {
  display: block;
  color: #ffffff;
  margin-left: auto;
  margin-right: auto;
}

.rainbow {
  animation: color-change 7s infinite;
  font-family: sans-serif;
  text-shadow: 1px 1px 30px, 1px 1px 30px;
}

@keyframes color-change {
  0% {
    color: #ff020a;
  }
  10% {
    color: #ff02aa;
  }
  20% {
    color: #aa02ff;
  }
  30% {
    color: #5602ff;
  }
  40% {
    color: #0284ff;
  }
  50% {
    color: #02faff;
  }
  60% {
    color: #02ff6f;
  }
  70% {
    color: #39ff02;
  }
  80% {
    color: #ffe102;
  }
  90% {
    color: #ff7c02;
  }
  100% {
    color: #ff020a;
  }
}

@keyframes clickAnim {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.05);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes appear {
  from {
    transform: scale(0);
    opacity: 0;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}
